.search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    align-items: center;
    border: 2px solid transparent;

    & input {
        flex: 1;
        height: 100%;
        background-color: transparent;
        caret-color: var(--primary-color);
        font-size: 16px;
        font-weight: 400;
        color: #000;
        &:focus {
            & ~ .loading {
                opacity: 1;
            }
        }
    }
    & input:not(:placeholder-shown) ~ .search-btn {
        color: #4c4e57;
    }
    & input:not(:placeholder-shown) ~ .close {
        display: block;
    }
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(var(--search-height) - var(--top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
        top: var(--top-spacer);
        right: var(--search-width-btn);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.close,
.loading {
    position: absolute;
    right: calc(var(--search-width-btn) + 10px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    padding: 0 10px;
    color: rgba(22, 24, 35, 0.4);
    display: none;
}
.loading {
    font-size: 1.6rem;
}

.search-btn {
    background-color: transparent;
    width: var(--search-width-btn);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 26, 0.4);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.search-result {
    width: 361px;
}
.search-title {
    font-size: 14px;
    padding: 5px 12px;
    height: 30px;
    color: rgba(22, 24, 35, 0.5);
    line-height: 20px;
    font-size: 14px;
}
