.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    max-width: var(--width-basic);
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    display: flex;
}
.content {
    flex: 1;
}
